@import '~styles/helpers';

.idea {
	display: flex;
	flex-direction: column;
	//height: 100%;
}

.titleContainer {
	position: relative;
}

.title {
	font-size:50px;
	padding-top: 1rem;
	margin-bottom: 3rem;

	.withBg & {
		transform: translateY(-100%);
		position: absolute;
		top: -3rem;
		left: 0;
		width: 100%;
		color: #fff;
	}
}

.date {
	color: #666;
	font-size:13px;
	margin-bottom:1.5rem;
}
.coverImageContainer {
	margin: -2rem -1.5rem 1.5rem;

	@include media-min($medium-screen) {
		margin-left: -2rem;
		margin-right: -2rem;
	}
}

.coverImage {
	min-height: 5rem;
	animation: bgloading .7s infinite;

	@keyframes bgloading {
		0% {
			background: slateblue;
		}
		50% {
			background: darkslateblue;
		}
		100% {
			background: slateblue;
		}
	}
}

.content {
	margin-top: 0;
	margin-bottom: 2rem;

	p:last-child {
		margin-bottom: 0;
	}
}

.sections {
	padding: 0;
	list-style: none;
}