.idea {
	display: flex;
	flex-direction: column;
	//height: 100%;
}

.title {
	font-size:50px;
	padding-top: 1rem;
	margin-bottom: 3rem;
}

.date {
	color: #666;
	font-size:13px;
	margin-bottom:1.5rem;
}

.coverImage {
	min-height: 5rem;
	animation: bgloading .7s infinite;
	margin-bottom: 1.5rem;

	@keyframes bgloading {
		0% {
			background: slateblue;
		}
		50% {
			background: darkslateblue;
		}
		100% {
			background: slateblue;
		}
	}
}

.content {
	margin-top: 0;
	margin-bottom: 2rem;

	p:last-child {
		margin-bottom: 0;
	}
}

.sections {
	padding: 0;
	list-style: none;
}

.nav {
	margin-top: auto;
	display: flex;
	justify-content: space-between;
}