@import "~styles/helpers";

.button {
	padding: .5rem .75rem;
	box-shadow: none;
	background: none;
	border-radius: 3px;
	border: 1px solid currentColor;
	color: darkslateblue;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	background: #fff;
	transition: background .2s;

	&:hover {
		background: rgba(darkslateblue, .15);
	}
}

.vanilla {
	color: darkslateblue;
	background: none;
	text-decoration: none;
	box-shadow: none;
	border: none;
	padding: 0;
	text-transform: uppercase;
	font-weight: 900;
	font-size: .75rem;
	cursor: pointer;

	&.larger {
		font-size:1.1rem;
	}

	&:hover {
		color: slateblue;
	}
}

.withIcon {
	display: flex;
	align-items: center;

	svg {
		font-size: 20px;
		margin-right: 5px;
	}
	span {
		padding-top: 4px;
	}
}

.hiddenLabelOnMobile{
	span  {
		@include media-max($medium-screen){
			display: none;
		}
	}
}


.fullwidth {
	width: 100%;
}

button {
	&:focus {
		outline: none;
	}
}