.container {
	padding: 1rem 1rem;
	position: relative;
	flex: 1 1 auto;
	display: flex;

	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

.innerContainer {
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
	max-width: 100%;
}


.body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.centralColumn {
	width: 400px;
	max-width: 100%;
	margin: auto;
}