@import '~styles/helpers';

.banner {
    margin: -1rem -1rem 0;
    background: linear-gradient(to left top, darkslateblue 50%, slateblue 50%);
    width: calc(100% + 2rem);
    min-height: 20rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-attachment:fixed;
    color: #fff;

    @include media-min($medium-screen){
        min-height: 30rem;
    }
}

.title {
    text-align: center;
    font-size: 50px;
    margin-bottom: 0;

    @include media-min($medium-screen){
        font-size: 150px;
    }
}