.container {
	position: relative;
}

.trigger {

}

.tab {
	display: none;
	position: absolute;
	bottom: -.75rem;
	transform: translateY(100%);
	right: 0;
	background: slateblue;
	min-width: 200px;
	padding: .5rem 1rem;
	border-radius: 0 0 3px 3px;
	animation: slidein .15s forwards;

	@keyframes slidein {
		0% {
			transform: translateY(80%);
			opacity: 0;
		}

		100% {
			transform: translateY(100%);
			opacity: 1;
		}
	}

	.isOpen > & {
		display: block;
	}
}