@import '~styles/helpers';

.overlay {
	&:before {
		content: " ";
		background: rgba(black, .2);
		position: fixed;
		top: -100vh;
		bottom: -100vh;
		left: 0;
		right: 0;
	}

	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 10;
	animation: overlayIn .25s;
	opacity: 1;
	transform: translateY(0);

	@keyframes overlayIn {
		0% {
			opacity: 0;
			transform: translateY(50%);
		}

		100% {
			opacity: 1;
			transform: translateY(0);
		}
	}
}

.inner {
	border-radius: 3px;
	max-height: 100%;
	min-height: 100%;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	margin: auto;
	width: 100%;
	padding:2rem 1.5rem;
	max-width: 640px;
	backface-visibility: hidden;
	background: #fff;
	position: relative;
	box-shadow: 0 3px 10px rgba(black, .3);
	top: 0;
	//border-radius: 3px;

	@include media-min($medium-screen){
		top: 10vh;
		bottom: auto;
		min-height: 0;
		height: 80vh;
		padding:2rem;
	}

	> * {
		min-height: 100%;
	}
}

.close {
	position: fixed;
	top: 2rem;
	right: 1.5rem;
	height: auto;
	z-index: 5;

	@include media-min($medium-screen) {
		top: calc(10vh + 2rem);
		right: calc((100% - 640px) / 2 + 2rem);
	}
}


.nav {
	display: flex;
	justify-content: space-between;
	position: fixed;
	padding: 1rem 1.5rem;
	background: linear-gradient(to top, rgba(white, 0.95) 0%,white 10%, rgba(white, 0) 100%);
	border-radius: 0 0 3px 3px;
	bottom:0;
	right:0;
	width: 100%;

	@include media-min($medium-screen) {
		width: 640px;
		padding: 1rem 2rem;
		right: calc((100% - 640px) / 2);
		bottom: 10vh;
	}
}