.overlay {
	&:before {
		content: " ";
		background: rgba(black, .2);
		position: fixed;
		top: -100vh;
		bottom: -100vh;
		left: 0;
		right: 0;
	}

	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 10;
	animation: overlayIn .25s;
	opacity: 1;
	transform: translateY(0);

	@keyframes overlayIn {
		0% {
			opacity: 0;
			transform: translateY(50%);
		}

		100% {
			opacity: 1;
			transform: translateY(0);
		}
	}
}

.inner {
	border-radius: 3px;
	max-height: 80vh;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	margin: auto;
	width: 100%;
	padding:2rem;
	max-width: 640px;
	backface-visibility: hidden;
	background: #fff;
	top: 50%;
	transform: translateY(-50%);
	position: relative;
	box-shadow: 0 3px 10px rgba(black, .3);
	//border-radius: 3px;

	> * {
		height: 100%;
	}
}

.close {
	position: absolute;
	top: 2rem;
	right: 2rem;
	height: auto;
	z-index: 5;
}