.overlay {
	position: absolute;
	overflow: scroll;
	left: 2rem;
	right: 2rem;
	top: 1.5rem;
	bottom: 1rem;
	box-shadow: 0 3px 10px rgba(black, .3), 0 0 0 100vh rgba(black, .2);
	padding: 2rem 2rem;
	max-height: 80vh;

	z-index: 10;
	background: #fff;

	> * {
		height: 100%;
	}
}