.item {
	display: flex;
	background: #f1f1f1;
	height: 20rem;
	padding: 2rem;
	border-radius: 3px;
	box-shadow: 0 0 3px rgba(#000, .2);
	transition: transform .2s, background .2s;

	&:hover {
		transform: scale(1.05);
		background: #E8ECF6;
	}

	&.isCompleted {
		opacity: .6;
		background: #C6E1CB;
		transform: scale(.95);
	}
}
.link {
	display: flex;
	flex-direction: column;
	text-decoration: none;
	width: 100%;
}
.title {
	text-decoration: none;
	font-weight: 900;
	font-size: 27px;
	color: #000;
}

.buttons {
	margin-top: auto;
	display: flex;
	justify-content: space-between;
}

.button {
	color: #333;
	background: none;
	box-shadow: none;
	border: none;
	padding: 0;
	text-transform: uppercase;
	font-weight: 900;
	font-size: .75rem;
	cursor: pointer;
	
	&:hover {
		color: darkslateblue;
	}
}