@import '~styles/helpers';

.item {
	display: flex;
	background: #f1f1f1;
	min-height: 10rem;
	padding: 2rem;
	border-radius: 3px;
	box-shadow: 0 0 3px rgba(#000, .2);
	transition: transform .2s, background .2s;
	position: relative;
	overflow: hidden;

	@include media-min($medium-screen){
		height:20rem;
	}

	&:hover {
		transform: scale(1.05);
		background: #E8ECF6;
	}

	&.isCompleted {
		opacity: .6;
		background: rgba(slateblue, .2);
		transform: scale(.95);
	}

	&.withBg {
		background: #ccc;
	}
}

.background {
	position: absolute;
	z-index:0;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: .9;
	background-size: cover;
	
	&:after {
		background-image: linear-gradient(to top,
				rgba(white, .9) 0%,
				rgba(white, .9) 20%,
				rgba(white, 0) 80%
		);
		position: absolute;
		bottom: 0;
		right: 0;
		left: 0;
		top: 0;
		content: ' ';
	}
}


.link {
	display: flex;
	flex-direction: column;
	text-decoration: none;
	width: 100%;
	z-index: 1;
}
.title {
	text-decoration: none;
	font-weight: 900;
	font-size: 27px;
	color: #000;
	margin-bottom:.5rem;

	.withBg & {
		color: #fff;
	}
}

.date {
	color: #666;
	font-size:13px;
	margin-bottom:1rem;
	display: flex;
	justify-content:space-between;
	
	.withBg & {
		color: #fff;
	}

	.deadline {
		font-weight: bold;
	}
}

.expiringMessage {
	margin-top: -.5rem;
	font-size: 0.75rem;
	margin-bottom: 0.8rem;
	text-align: right;

	&.default {
		color: $color-good;
	}

	&.warning {
		color: $color-warning;
	}

	&.bad {
		color: $color-bad;
	}
}


.buttons {
	margin-top: auto;
	display: flex;
	justify-content: space-between;
}

.completedSections {
	color: rgba(black, .2);
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	margin-top: auto;
	white-space: nowrap;
	position: absolute;
	right: 1rem;

	@include media-min($medium-screen) {
		font-size: 70px;
		position: static;
	}
}